- title @user.user_name + " - FADE IN"

%ul.nav.nav-tabs.md-pills.pills-primary{:role => "tablist"}
  %li.nav-item
    %a.nav-link.active{"data-toggle" => "tab", :href => "#portfolio", :role => "tab"}
      %i.fa.fa-image
      Portfolio
  %li.nav-item
    %a.nav-link{"data-toggle" => "tab", :href => "#accolades", :role => "tab"}
      %i.fa.fa-diamond
      Accolades
  %li.nav-item
    %a.nav-link{"data-toggle" => "tab", :href => "#friends", :role => "tab"}
      %i.fa.fa-group
      Friends
  - if @user == current_user
    %li.nav-item
      %a.nav-link{"data-toggle" => "tab", :href => "#edit", :role => "tab"}
        %i.fa.fa-cog
        Settings
%hr
/ Tab panels
.tab-content
  / Panel 1
  #portfolio.tab-pane.fade.in.show.active{:role => "tabpanel"}
    = render 'profiles/portfolio'
  #accolades.tab-pane.fade{:role => "tabpanel"}
    = render 'profiles/accolades'
  #friends.tab-pane.fade{:role => "tabpanel"}
    = render 'profiles/friends'
  #edit.tab-pane{:role => "tabpanel"}
    = render 'profiles/edit'