- if @current_room.id == chat_room.id
  - @active = true
  
- if @active == true
  - @active = false
  %li
    = link_to chat_room_path(chat_room), :class => "is-active" do
      = truncate(chat_room.title, length: 20)
- else
  %li
    = link_to chat_room_path(chat_room) do
      = truncate(chat_room.title, length: 20)
      // %span.tag.is-danger
      //   = chat_room.messages.count

