- title "Redeem - FADE IN"
// .notification.is-warning
//   %p REWARDS SOON COME
%article.message.is-info
  .message-body
    We are still perfecting our rewards system, please check back in the future.

= render 'layouts/error'