- title "About - FADE IN"

%section.section.team-section
  / Section heading
  %h1.section-heading Our amazing team
  / Section sescription
  %p.section-description FADE IN is comprised of a team of enthusiastic individuals with a goal of creative convergence.
  / First row
  .row.center-on-small-only
    / First column
    .col-lg-6.col-md-12.mb-r
      .col-md-6.float-left
        .avatar
          %img{:src => "../assets/atticus.jpg"}/
      .col-md-6.float-right
        %h4 Atticus Pirrie
        %h5 Co-founder & CEO
        %p Atticus is just an amazing boss and wow he is so sexy.
        / Facebook
        %a.icons-sm.fb-ic
          %i.fa.fa-facebook
        / Twitter
        %a.icons-sm.tw-ic
          %i.fa.fa-twitter
        / GitHub
        %a.icons-sm.git-ic
          %i.fa.fa-github
    / /First column
    / Second column
    .col-lg-6.col-md-12.mb-r
      .col-md-6.float-left
        .avatar
          %img{:src => "../assets/lewis.jpg"}/
      .col-md-6.float-right
        %h4 Lewis Drayton-Corbin
        %h5 Co-founder & CTO
        %p Lewis is just an amazing boss and wow he is so ugly.
        / Facebook
        %a.icons-sm.fb-ic
          %i.fa.fa-facebook
        / Pinterest
        %a.icons-sm.pin-ic
          %i.fa.fa-pinterest
        / Instagram
        %a.icons-sm.ins-ic
          %i.fa.fa-instagram
    / /Second column
  / /First row
  .hidden-md-down{:style => "height:50px"}
  / Second row
  .row.center-on-small-only
    / Third column
    .col-lg-6.col-md-12.mb-r
      .col-md-6.float-left
        .avatar
          %img{:src => "../assets/phil.jpeg"}/
      .col-md-6.float-right
        %h4 Philip Dyas
        %h5 Head of Challenges
        %p Phil is just an amazing boss and wow he looks exactly like Ryan Gosling.
        / Facebook
        %a.icons-sm.fb-ic
          %i.fa.fa-facebook
        / Twitter
        %a.icons-sm.tw-ic
          %i.fa.fa-twitter
        / Dribbble
        %a.icons-sm.drib-ic
          %i.fa.fa-dribbble
    / /Third column
    / Fourth column
    .col-lg-6.col-md-12.mb-r
      .col-md-6.float-left
        .avatar
          %img{:src => "https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg"}/
      .col-md-6.float-right
        %h4 Sarah Melyah
        %h5 Front-end Developer
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab.
        / Google +
        %a.icons-sm.gplus-ic
          %i.fa.fa-google-plus
        / Facebook
        %a.icons-sm.fb-ic
          %i.fa.fa-facebook
        / GitHub
        %a.icons-sm.git-ic
          %i.fa.fa-github
    / /Fourth column
  / /Second row