// - @photo = Unsplash::Photo.random
- @search_results = Unsplash::Photo.search("cats")

// %img{:src => "#{@photo.urls.small}"}
- @search_results.each do |image|
  %img{:src => "#{image.urls.small}", :class => "item"}