- if @project.completed != true
  %a.button.is-primary.is-medium.modal-button{"data-target" => "#modal-submit"} Submit Film
  = simple_form_for @project do |f|
    #modal-submit.modal
      .modal-background
      .modal-card
        %header.modal-card-head.is-wide
          %p.modal-card-title Submit Film
        %section.modal-card-body
          .content
            .notification.is-success
              %p Congratulations on finishing your project! You can complete the project by submitting the link below.
            %label.label.field-text Film URL
            = f.input_field :submission, :placeholder => "Insert YouTube URL here", :class => 'input'
        %footer.modal-card-foot
          %button.button.is-success.is-outlined Submit
          = link_to project_path(@project), :class => "button is-danger is-outlined" do
            Cancel