%section.section
  %h1.section-heading Challenges
  %p.section-description Every fortnight we and our partners create a project for you to create. Entrants will be rewarded FADE IN Credits, and exceptional entries will be rewarded even greater prizes.
  .row
    =render @challenges