// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Index Styles

.projects-actionbar {
  display: flex;
  align-items: center;
  
  height: 71px;
  width: 100%;
  
  background: #fff;
  
  transition: margin-left .5s;
  
  > p:first-child {
    margin-left: 21px;
  }
  
  > p {
    color: #757D8C;
    font-size: 12px;
    text-transform: uppercase;
  }
  
  ul {
    border-right: solid 1px #d7d9e1;
  }
  
  input {
    border: none;
    
    background-image: url('searchicon.png');
    background-repeat: no-repeat;
    
    font-size: 16px;
  }
  
  input:focus {
    outline: none;
  }
  
  a {
    display: flex;
    align-items: center;
    
    border: solid 1px #f16a43;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    font-size: 16px;
    
    color: #f16a43;
  }
  
  a p {
    margin: 8px 15px;
  }
}

.projects-main {
  padding: 33px 64px 0 64px;
  
  transition: margin-left .5s;
  
  > p {
    margin-left: 0.5%;
  }
  
  > div {
    display: flex;
    flex-wrap: wrap;
    
    width: 100%;
    height: 100%;
  }
}

.card {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  width: 24%;
  
  margin-right: 0.5%;
  margin-bottom: 21px;
  margin-left: 0.5%;
  
  img {
    width: 100%;
    height: auto;
  }
  
  > div {
    margin: 10px 22px 16px 26px;
  
    .genre-duration {
      display: flex;
      align-items: center;
      
      span {
        font-size: 15px;
      }
      
      p {
        margin: 0;
        
        font-size: 13px;
        
        margin-right: 13px;
        margin-left: 4px;
      }
    }
    
    .project-info {
      
      p {
        color: #222222;
        
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        
        margin-top: 0;
      }
      
      p:first-child {
        font-size: 16px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        
        color: #272727;
        
        margin-top: 11px;
        margin-bottom: 11px;
      }
    }
    
    .project-needs {
      display: flex;
      align-items: center;
      
      span {
        font-size: 19px;
        width: 19px;
        height: 19px;
        
        margin: 0;
        
        // color: ;
      }
      
      a {
        border: solid 1px #f16a43;
        
        font-size: 12px;
        
        padding: 5px 22px;
        
        color: #f16a43;
      }
    }
  }
}

@media (max-width: 1440px) {
  .card {
    width: 32%;
  }
}

@media (max-width: 1024px) {
  .card {
    width: 48%;
  }
}

@media (max-width: 728px) {
  .card {
    width: 100%;
  }
}