/* YOUR CUSTOM STYLES */
.display-inline {
	display: inline-block;
	margin: 0 1px;
}

.left-padded {
	margin-left: 15px;
}

.staff-pick {
  padding-top: 3.8rem; 
}

.project-title {
	font-weight: bold;
}

.cp-right {
	float:right;
}

.card {
    min-width: 25%;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }