/* YOUR CUSTOM STYLES */

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto !important;
}

.card-space {
  margin-bottom: 50px;
}

.display-inline {
	display: inline-block;
	margin: 0 1px;
}

.left-padded {
	margin-left: 15px;
}

.staff-pick {
  padding-top: 3.8rem; 
}

.project-title {
	font-weight: bold;
}

.cp-right {
	float:right;
}

.card {
    min-width: 25%;
}

.contact-avatar {
    background: #fff;
    padding: 0px;
    border: 2px solid #fff; 
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
 
 /**/
 
.role-selector input{
  margin: 0px;
  padding: 0px;
  -webkit-appearance: 0px;
  -moz-appearance: none;
  appearance: none;
}

.role-selector label:before, label:after{
  display: none;
}
 
.messages {
    margin-bottom: 0px !important;
 }
 
.Actor {
  background-image:url(/assets/roles/theater.png);
}

.Director {
  background-image:url(/assets/roles/clapperboard.png);
}

.Editor {
  background-image:url(/assets/roles/imac.png);
}

.Vfx {
  background-image:url(/assets/roles/fuse.png);
}

.Writer {
  background-image:url(/assets/roles/edit.png);
}

.Cinematographer {
  background-image:url(/assets/roles/photo-camera.png);
}

.Composer {
  background-image:url(/assets/roles/music-player.png);
}

.Makeup {
  background-image:url(/assets/roles/paint-brush.png);
}

.role-selector input:active +.options-roles {
  opacity: .9;
}

.role-selector input:checked +.options-roles {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.options-roles {
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  width:100px !important;
  height:70px !important;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
  filter: brightness(1.8) grayscale(1) opacity(.7);
}

.options-roles:hover {
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
  -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
  filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/**/

select{
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  margin: 20px;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}

#messages {
  max-height: 450px;
  overflow-y: auto;
}
#messages.avatar {
    margin: 0.5rem;
}
 
.round-img {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}
 
@media (min-width: 992px) {
  .card-home {
    max-width: 25%;
  }

  .card-project {
    min-width: 50%;
    max-width: 50%;
  }

  .sidenav-bg {
    overflow: hidden;
  }
}

@media (min-width: 576px) and (max-width: 1440px) {
  .card-home {
    min-width: 33%;
    max-width: 33%;
  }
}

@media (max-width: 767px) {
  .offset-1 {
    margin-left: 0px;
  }
}

@media (max-width: 1040px) {
  .stepper li {
    display: none;
  }
  .active {
    display: block !important;
    text-align: center;
  }
  
  .active .label {
    font-size: 2rem;
  }
}