<!--Footer-->
    <footer class="page-footer center-on-small-only">

        <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">

                <!--First column-->
                <div class="col-md-3 offset-1">
                    <h5 class="title">About Us</h5>
                    <p>FADE IN is a collaborative platform which enables students to easily create films, and be rewarded for doing so.</p>
                </div>
                <!--/.First column-->

                <hr class="hidden-md-up">

                <!--Second column-->
                <div class="col-md-2 offset-1">
                    <h5 class="title">FADE IN</h5>
                    <ul>
                        <li><a href="#!">About</a></li>
                        <li><a href="#!">Careers</a></li>
                        <li><a href="#!">Press</a></li>
                        <li><a href="#!">Help</a></li>
                    </ul>
                </div>
                <!--/.Second column-->

                <hr class="hidden-md-up">

                <!--Third column-->
                <div class="col-md-2">
                    <h5 class="title">Discover</h5>
                    <ul>
                        <li><a href="#!">Trust & Safety</a></li>
                        <li><a href="#!">FADE IN Credit</a></li>
                        <li><a href="#!">Terms & Privacy</a></li>
                        <li><a href="#!">Usage</a></li>
                    </ul>
                </div>
                <!--/.Third column-->

                <hr class="hidden-md-up">

                <!--Fourth column-->
                <div class="col-md-2">
                    <h5 class="title">Community</h5>
                    <ul>
                        <li><a href="#!">Join as a creator</a></li>
                        <li><a href="#!">Become a curator</a></li>
                        <li><a href="#!">Advertising</a></li>
                        <li><a href="#!">Partnerships</a></li>
                    </ul>
                </div>
                <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->


        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2017 Copyright: <a href="http://www.fadeinapp.com"> FADE IN LTD </a>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->

    
    
    <!-- SCRIPTS -->
    <script type="text/javascript" src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/compiled.min.js"></script>

    <script>
    $(".button-collapse").sideNav();
        
    var el = document.querySelector('.custom-scrollbar');
    Ps.initialize(el);
    </script>
</body>

</html>