- flash.each do |key, value|
  %div{:class => "notification is-#{key}"}
    %div
      %img
      %div
        - if key == "notice"
          %p Welcome to FADE IN, 
        - elsif key == "success"
          %p Congratulations!
        - elsif key == "danger"
          %p
        %p
          = value
      %a.delete{"data-dismiss" => "notification", :href => "#"}
// notice
// info
// success
// danger