%article.message.is-danger.is-notice-ad
  .message-header
    %p.notices-text
      %span.icon.is-small
        %i.fa.fa-warning
      Notice
  .message-body
    %p.field-text.notices-text
      The website is still under development and may be unstable.